{% extends "base.html" %}
{% block main %}

<div class="projects">
    {% for project in projects %}
    <div class="project-div">
        <p class="p-tag"> Team Name: </p>
        <p> {{ project.project_name }} </p>
        <br>
        <p class="p-tag"> Description: </p>
        <p> {{ project.description }} </p>
        <br>
        <p class="p-tag"> Completed: </p>
        <p> {{ project.completed }} </p>
        <br>
        <p class="p-tag"> Project Name: </p>
        <p> {{ project.team.team_name }} </p>
        <br>
    
    </div>
    {% endfor %}

</div>

{% endblock %}